## Data structures + sequences
### Tuple

In [1]:
tup = (1, 2, 3)
tup

(1, 2, 3)

In [2]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [6]:
# `tuple()`: convert sequence/iterator to tuple
tuple([1, 2, 3])

(1, 2, 3)

In [7]:
tuple('string')

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup[0]

4

In [9]:
nested_tup = (4, 5, 6), (7, 8)
nested_tup

((4, 5, 6), (7, 8))

In [10]:
nested_tup[0]

(4, 5, 6)

In [12]:
# immutable tuple
tup = (['foo', [1, 2], True])
tup

['foo', [1, 2], True]

In [13]:
type(tup)

list

In [15]:
tup = tuple(tup)
tup

('foo', [1, 2], True)

In [16]:
type(tup)

tuple

In [17]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [18]:
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [19]:
# concatenate tuples using `+`
(3, None, "haha") + (6, 0) + ('hihi',)

(3, None, 'haha', 6, 0, 'hihi')

In [20]:
# multiply tuple
('aha', "wow") * 3

('aha', 'wow', 'aha', 'wow', 'aha', 'wow')

In [21]:
# unpacking tuple
tup = (1, 3, 5)
a, b, c = tup

b

3

In [22]:
tup = 4, 7, (11, 13)
a, b, (c, d) = tup

c

11

In [23]:
a, b = 1, 2
print(a)
print(b)

1
2

In [24]:
b, a = a, b
print(a)
print(b)

2
1

In [25]:
# iterate over sequences of tuples or lists
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print(f"a = {a}, b = {b}, c = {c}")

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [26]:
values = 1, 2, 3, 4, 5
a, b, *_ = values
print(a)
print(b)
print(_)

1
2
[3, 4, 5]

In [28]:
tup = 1, 2, 2, 2, 3, 4, 2
tup

(1, 2, 2, 2, 3, 4, 2)

In [29]:
print(dir(tup))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [30]:
tup.count(2)

4

### List

In [1]:
a_list = [2, 3, 7, None]
a_list

[2, 3, 7, None]

In [2]:
tup = ("haha", "hihi", "hoho")
type(tup)

tuple

In [3]:
b_list = list(tup)
type(b_list)

list

In [4]:
b_list

['haha', 'hihi', 'hoho']

In [5]:
b_list[1] = "what"
b_list

['haha', 'what', 'hoho']

In [6]:
gen = range(10)
gen

range(0, 10)

In [7]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
# add/ remove elements
# `append()`: add an element into last position
b_list.append("last")
b_list

['haha', 'what', 'hoho', 'last']

In [9]:
# `insert()`: add an element into a specific location
b_list.insert(1, "second")
b_list

['haha', 'second', 'what', 'hoho', 'last']

In [10]:
# `pop()`: remove an element at a particular index
b_list.pop(1)
b_list

['haha', 'what', 'hoho', 'last']

In [12]:
b_list.insert(3, "what")
print(b_list)

# `remove()`: remove element by value (first value)
b_list.remove("what")
print(b_list)

['haha', 'hoho', 'what', 'what', 'last']
['haha', 'hoho', 'what', 'last']

In [13]:
print("haha" in b_list)

print("haha" not in b_list)

True
False

In [14]:
# `+` operator
[4, None, "aha"] + [7, 8, (2, 3)]

[4, None, 'aha', 7, 8, (2, 3)]

In [15]:
# `extend()`: append multiple elements to a list
c_list = [4, None, "aha"]
c_list.extend([7, 8, (2, 3)])

c_list

[4, None, 'aha', 7, 8, (2, 3)]

In [ ]:
# Note
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

In [16]:
# `sort()`
a = [6, 9, 7, 3, 0, 2]
a.sort()
a

[0, 2, 3, 6, 7, 9]

In [18]:
b = ["saw", "small", "He", "foxes", "six"]
b.sort(key = len) # sort by length of strings
b

['He', 'saw', 'six', 'small', 'foxes']

In [19]:
# slicing: start:stop:step = include: not-include: step
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [20]:
seq[3:5] = [6, 3]
seq

[7, 2, 3, 6, 3, 6, 0, 1]

In [27]:
print(seq[:5])
print(seq[3:])
print(seq[-6:-2])
print(seq[-4:])
print(seq[::2])

# reverse a list/tuple
print(seq[::-1])

[7, 2, 3, 6, 3]
[6, 3, 6, 0, 1]
[3, 6, 3, 6]
[3, 6, 0, 1]
[7, 3, 3, 0]
[1, 0, 6, 3, 6, 3, 2, 7]

### Dictionary

In [28]:
empty_dict = {}

d1 = {"a": "some value", "b": [1, 2, 3, 4]}

d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [29]:
d1[7] = "an integer"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [31]:
d1["b"]

[1, 2, 3, 4]

In [32]:
"b" in d1

True

In [41]:
d1[5] = "some value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value',
 5: 'some value'}

In [42]:
d1["dummy"] = "another value"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value',
 5: 'some value'}

In [43]:
del d1[5]

d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [44]:
ret = d1.pop("dummy")

ret

'another value'

In [45]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [46]:
list(d1.keys())

['a', 'b', 7]

In [47]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [48]:
list(d1.items())

[('a', 'some value'), ('b', [1, 2, 3, 4]), (7, 'an integer')]

In [50]:
# merge 2 dictionaries
d1.update({"b": "foo", "c": 12})

d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [ ]:
# create dictionary from sequences
mapping = {}
for key, value in zip(key_list, value_list):
    mapping[key] = value

In [51]:
# `dict()`
tup = zip(range(5), reversed(range(5)))
tup

In [52]:
map = dict(tup)
map

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

In [ ]:
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

In [ ]:
# equivalent
value = some_dict.get(key, default_value)

In [53]:
# example
words = ["apple", "bat", "bar", "atom", "book"]

by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [55]:
by_letter1 = {}
for word in words:
    letter = word[0]
    by_letter1.setdefault(letter, []).append(word)

by_letter1

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [56]:
from collections import defaultdict

by_letter2 = defaultdict(list)
for word in words:
    by_letter2[word[0]].append(word)

by_letter2

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

In [57]:
d = {}
d[tuple([1, 2, 3])] = 5

d

{(1, 2, 3): 5}

### Set
- unordered collection of unique elements

In [58]:
set1 = set([2, 2, 2, 1, 3, 3])
print(set1)

set2 = {2, 2, 2, 1, 3, 3, 3}
print(set2)

{1, 2, 3}
{1, 2, 3}

In [59]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

In [60]:
# union
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [61]:
# union
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

In [62]:
# intersection
a.intersection(b)

{3, 4, 5}

In [63]:
a & b

{3, 4, 5}

In [64]:
c = a.copy()
c

{1, 2, 3, 4, 5}

In [65]:
c |= b
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [67]:
d = a.copy()
d &= b

d

{3, 4, 5}

In [68]:
my_data = [1, 2, 3, 4]
type(my_data)

list

In [69]:
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [70]:
a_set = {1, 2, 3, 4, 5}

{1, 2, 3}.issubset(a_set)

True

In [71]:
a_set.issuperset({1, 2, 3})

True

In [72]:
{1, 2, 3} == {3, 2, 1}

True

### Built-in sequence functions
#### `enumerate()`

In [ ]:
index = 0
for value in collection:
    # do sth with value
    index += 1

In [ ]:
# equivalent
for index, value in enumerate(collection):
    # do sth with value

#### `sorted()`

In [73]:
sorted([4, 6, 2, 0, 9, 5])

[0, 2, 4, 5, 6, 9]

In [74]:
sorted("happy day")

[' ', 'a', 'a', 'd', 'h', 'p', 'p', 'y', 'y']

#### `zip()`

In [76]:
seq1 = ["aha", "wow", "cool"]
seq2 = ["one", "two", "ten"]

zipped = zip(seq1, seq2)
list(zipped)

[('aha', 'one'), ('wow', 'two'), ('cool', 'ten')]

In [77]:
seq3 = [False, True]

list(zip(seq1, seq2, seq3))

[('aha', 'one', False), ('wow', 'two', True)]

In [78]:
for index, (a, b) in enumerate(zip(seq1, seq2)):
    print(f"{index}: {a}, {b}")

0: aha, one
1: wow, two
2: cool, ten

#### `reversed()`

In [79]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [80]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### List/ Set/ Dictionary Comprehension
#### List comprehension
`[expr for value in collection if condition]`

In [ ]:
# equivalent `for` loop:
result = []
for value in collection:
    if condition:
        result.append(expr)

In [85]:
strings = ["a", "as", "bat", "car", "dove", "python"]
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

#### Dictionary comprehension
`dict_comp = {key-expr: value-expr for value in collection if condition}`

#### Set comprehension
`set_comp = {expr for value in collection if condition}`

In [83]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [87]:
loc_mapping = {value:index for index, value in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehension

In [93]:
# get a single list containing all names with two or more a’s in them
all_data = [["John", "Emily", "Michael", "Mary", "Steven"],
            ["Maria", "Juan", "Javier", "Natalia", "Pilar"]]

In [98]:
# `for` loop
names_of_interest = []
for name in all_data:
    enough_as = [value for value in name if value.count("a") >= 2]
    names_of_interest.extend(enough_as)

names_of_interest

['Maria', 'Natalia']

In [100]:
result = [name for names in all_data for name in names 
          if name.count("a") >= 2]

result

['Maria', 'Natalia']

In [101]:
some_tup = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tup for x in tup]

flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
flattened = []
for tup in some_tup:
    for x in tup:
        flattened.append(x)

In [102]:
[[x for x in tup] for tup in some_tup]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

## Functions

In [103]:
def function_without_return(x):
    print(x)

result = function_without_return("hello")
result

hello

In [104]:
print(result)

None

In [105]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [106]:
my_function(x = 5, y = 6, z = 0.7)

0.06363636363636363

In [107]:
my_function(1, 2, 1)

0.3333333333333333

In [108]:
my_function(10, 20)

45.0

### Return multiple values

In [111]:
def f():
    a = 11
    b = 21
    c = 31
    return a, b, c

a, b, c = f()
print(a, b, c)

11 21 31

In [ ]:
def f():
    a = 11
    b = 21
    c = 31
    return {"a" : a, "b" : b, "c" : c}

### Functions are objects

In [112]:
states = ["   Alabama ", "Georgia!", "Georgia", "georgia", "FlOrIda",
          "south   carolina##", "West virginia?"]

In [113]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub("[!#?]", "", value)
        value = value.title()
        result.append(value)
    return result

In [114]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [115]:
def remove_punctuation(value):
    return re.sub("[!#?]", "", value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for func in ops:
            value = func(value)
        result.append(value)
    return result

In [116]:
clean_strings(states, clean_ops)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

### Anonymous (Lambda) functions

In [118]:
def short_function(x):
    return x*2

In [119]:
equiv_anon = lambda x: x*2

In [120]:
# e.g.,
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x*2)

[8, 0, 2, 10, 12]

In [121]:
strings = ["foo", "card", "bar", "aaaa", "abab"]

strings.sort(key=lambda x: len(set(x)))

strings

['aaaa', 'foo', 'abab', 'bar', 'card']

### Generators

In [122]:
some_dict = {"a": 1, "b": 2, "c": 3}

for key in some_dict:
    print(key)

a
b
c

In [123]:
dict_iterator = iter(some_dict)

dict_iterator

In [124]:
list(dict_iterator)

['a', 'b', 'c']

In [125]:
def squares(n=10):
    print(f"Generating squares from 1 to {n ** 2}")
    for i in range(1, n + 1):
        yield i ** 2

In [127]:
gen = squares()

gen

In [128]:
for x in gen:
    print(x, end=" ")

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

In [1]:
gen = (x ** 2 for x in range(100))

gen

In [2]:
sum(x ** 2 for x in range(100))

328350

In [3]:
dict((i, i ** 2) for i in range(5))

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

#### itertools module

In [4]:
import itertools

def first_letter(x):
    return x[0]

In [5]:
names = ["Alan", "Adam", "Wes", "Will", "Albert", "Steven"]

for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names))

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']